[data-theme="dark"] .descrip-detalle {
  color: white;
}

[data-theme="dark"] .descripciondetalle {
  color: white;
}

[data-theme="dark"] #detalle-fabric {
  color: white;
}

[data-theme="dark"] #detalle-region {
  color: white;
}

[data-theme="dark"] #detalle-care {
  color: white;
}
