
.min-vh-60{ 
    min-height:60vh; 
}
.min-h-96{ 
    min-height:96px; 
}


html[data-theme='dark'] body{
    background-color:#0b0b16;
    color:#e5e7eb;
}

html[data-theme='dark'] main.bg-light{
    background-color:#0b0b16 !important;
}

html[data-theme='dark'] .card{
    background:#111827;
    border-color:#1f2937;
}

html[data-theme='dark'] .form-control{
    background:#0f172a;
    border-color:#1f2937;
    color:#e5e7eb;
}
html[data-theme='dark'] .form-control::placeholder{
    color:#9ca3af;
}

html[data-theme='dark'] .bg-secondary-subtle{
    background:#1f2937 !important;
}

html[data-theme='dark'] a.bg-white{
    background:#0f172a !important;
    color:#e5e7eb !important;
}
